.container-align-vertical {
  display: table;
  width: 100%;
  height: 100%;
}

.container-align-vertical .container-align-vertical-inner {
  display: table-cell;
  vertical-align: middle;
}

@font-face {
  font-family: 'gotham-rounded-bold';
  src: url("/fonts/gotham-rounded-bold.eot?v=4.3.0");
  src: url("/fonts/gotham-rounded-bold.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("/fonts/gotham-rounded-bold.woff2?v=4.3.0") format("woff2"), url("/fonts/gotham-rounded-bold.woff?v=4.3.0") format("woff"), url("/fonts/gotham-rounded-bold.ttf?v=4.3.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "gotham-rounded-bold";
  font-size: 14px;
  line-height: 1;
  color: #131316;
}

a {
  color: #0aaccc;
}

a:hover, a:active, a:visited {
  color: #0aaccc;
  text-decoration: none;
}

.header.header-main::before, .header.header-main::after {
  content: ' ';
  display: table;
}

.header.header-main::after {
  clear: both;
}

@media (max-width: 1280px) {
  .header.header-main .header-content {
    width: auto;
  }
}

.header.header-main .navbar-default {
  height: 100px;
  border-bottom: none;
}

@media (max-width: 480px) {
  .header.header-main .navbar-default {
    height: 75px;
  }
}

.header.header-main .navbar-default.navbar-small .navbar-brand {
  padding: 20px 15px 21px 15px;
}

@media (max-width: 480px) {
  .header.header-main .navbar-default.navbar-small .navbar-brand {
    padding: 15px 15px 16px 15px;
  }
}

.header.header-main .navbar-default.navbar-small .nav {
  margin-top: 23px;
}

.header.header-main .navbar-default .navbar-brand {
  height: auto;
  padding: 20px 15px 21px 15px;
}

@media (max-width: 480px) {
  .header.header-main .navbar-default .navbar-brand {
    padding: 15px 15px 16px 15px;
  }
}

@media (max-width: 480px) {
  .header.header-main .navbar-default .navbar-brand img {
    width: 75%;
  }
}

.header.header-main .navbar-default .navbar-header {
  min-height: 100px;
}

@media (max-width: 480px) {
  .header.header-main .navbar-default .navbar-header {
    min-height: 75px;
  }
}

.header.header-main .navbar-default .navbar-toggle:hover,
.header.header-main .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.header.header-main .navbar-default .navbar-toggle .icon-bar {
  background-color: #131316;
}

.header.header-main .navbar-default .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
  border-top: 0;
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .navbar-collapse {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    right: 0;
    float: none !important;
  }
}

@media (max-width: 1279px) and (max-width: 480px) {
  .header.header-main .navbar-default .navbar-collapse {
    top: 75px;
  }
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .navbar-collapse.collapse {
    overflow: hidden !important;
    height: 0 !important;
  }
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .navbar-collapse.collapse.in {
    height: auto !important;
  }
}

.header.header-main .navbar-default .navbar-collapse .navbar-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .navbar-collapse .navbar-nav {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #0aaccc;
  }
}

.header.header-main .navbar-default .nav {
  margin-top: 23px;
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .nav li {
    float: none;
  }
}

.header.header-main .navbar-default .nav li a {
  padding: 9px 20px;
  border: solid 1px transparent;
  font-size: 14px;
  color: #8e8e8e;
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .nav li a {
    padding: 9px 0;
  }
}

.header.header-main .navbar-default .nav li a:hover {
  border-color: #0aaccc;
  color: #131316;
}

@media (max-width: 1279px) {
  .header.header-main .navbar-default .nav li a:hover {
    border-color: transparent;
  }
}

.header.header-main .navbar-default .navbar-toggle {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 15px;
  float: none;
  padding: 9px 0;
  margin-top: -15px;
  margin-right: 0;
  margin-bottom: 0;
  border-width: 0;
}

@media (min-width: 768px) {
  .header.header-main .navbar-default .navbar-toggle {
    display: block;
  }
}

@media (min-width: 1280px) {
  .header.header-main .navbar-default .navbar-toggle {
    display: none;
  }
}

.hero-banner {
  padding-bottom: 0;
  background-image: url("../img/banner-hero.jpg");
}

@media (max-width: 1023px) {
  .hero-banner {
    height: auto !important;
  }
}

.hero-banner .hero-banner-inner {
  position: relative;
  height: 100%;
  margin-top: 0;
}

.hero-banner .hero-banner-description {
  position: absolute;
  z-index: 1;
  bottom: 150px;
  left: 0;
  right: 45%;
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-description {
    position: static;
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .hero-banner .hero-banner-description {
    bottom: 75px;
    right: 40%;
  }
}

.hero-banner .hero-banner-description .title {
  font-size: 72px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  text-transform: none;
  text-shadow: 0 0 0 transparent;
}

@media (max-width: 479px) {
  .hero-banner .hero-banner-description .title {
    font-size: 48px;
  }
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-description .title {
    text-align: center;
  }
}

.hero-banner .hero-banner-description .sub-title {
  font-size: 48px;
  margin-bottom: 30px;
  text-align: left;
  text-transform: none;
}

@media (max-width: 479px) {
  .hero-banner .hero-banner-description .sub-title {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-description .sub-title {
    text-align: center;
  }
}

.hero-banner .hero-banner-description .description {
  margin-bottom: 45px;
  font-family: "Arial";
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  text-transform: none;
}

@media (max-width: 479px) {
  .hero-banner .hero-banner-description .description {
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-description .description {
    text-align: center;
  }
}

.hero-banner .hero-banner-description .button-control ul {
  padding-left: 0;
  margin-bottom: 0;
}

.hero-banner .hero-banner-description .button-control ul::before, .hero-banner .hero-banner-description .button-control ul::after {
  content: ' ';
  display: table;
}

.hero-banner .hero-banner-description .button-control ul::after {
  clear: both;
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-description .button-control ul {
    text-align: center;
  }
}

.hero-banner .hero-banner-description .button-control ul li {
  display: block;
  float: left;
  margin-right: 15px;
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-description .button-control ul li {
    display: inline-block;
    float: none;
  }
}

.hero-banner .hero-banner-description .button-control ul li:last-child {
  margin-right: 0;
}

.hero-banner .hero-banner-description .link-image {
  display: block;
}

@media (max-width: 479px) {
  .hero-banner .hero-banner-description .link-image img {
    width: auto;
    height: 30px;
  }
}

@media (min-width: 479px) and (max-width: 767px) {
  .hero-banner .hero-banner-description .link-image img {
    width: auto;
    height: 55px;
  }
}

.hero-banner .hero-banner-iphone {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

@media (max-width: 1023px) {
  .hero-banner .hero-banner-iphone {
    position: relative;
  }
}

.hero-banner .hero-banner-iphone .iphone {
  height: calc(100vh - 250px);
}

@media (max-width: 767px) {
  .hero-banner .hero-banner-iphone .iphone {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .hero-banner .hero-banner-iphone .iphone {
    height: calc(100vh - 150px);
  }
}

.segment.segment-features {
  display: none;
  width: 1400px;
  background-color: #ffffff;
}

.segment.segment-video {
  height: 700px;
  background-image: url("../img/banner-video.jpg");
  text-align: center;
}

@media (max-width: 767px) {
  .segment.segment-video {
    height: 450px;
  }
}

.segment.segment-ourteam {
  padding-bottom: 75px;
}

.segment.segment-career {
  background-color: #3f3f41;
  padding-bottom: 165px;
}

.segment.segment-footer {
  padding-top: 90px;
  padding-bottom: 55px;
}

.segment .segment-header {
  padding-top: 95px;
}

.segment .segment-header .title {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 20px;
  color: #131316;
  text-align: center;
  text-transform: none;
}

.segment .segment-header .title.title-uppercase {
  text-transform: uppercase;
}

.segment .segment-header .description {
  margin-bottom: 95px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 1.6;
  color: #8e8e8e;
  text-align: center;
}

.segment .segment-header .description span {
  display: block;
}

.segment .segment-header.segment-header-partners .title {
  margin-bottom: 55px;
  text-transform: uppercase;
}

.segment .segment-header.segment-header-ourteam .title {
  margin-bottom: 75px;
}

.segment .segment-header.segment-header-career .title,
.segment .segment-header.segment-header-career .description {
  color: #ffffff;
}

.segment .segment-header.segment-header-contact .title {
  margin-bottom: 75px;
  text-transform: uppercase;
}

.segment .segment-content.segment-content-feature {
  position: relative;
}

.segment .segment-content.segment-content-feature .feature-icon {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: calc(50% - 215px);
}

.segment .segment-content.segment-content-feature .feature-icon.feature-icon-left {
  left: 0;
}

.segment .segment-content.segment-content-feature .feature-icon.feature-icon-right {
  right: 0;
}

.segment .segment-content.segment-content-feature .feature-image {
  text-align: center;
}

.segment .segment-content.segment-content-feature .feature-image .feature-image-inner {
  display: inline-block;
  position: relative;
}

.segment .segment-content.segment-content-feature .feature-image .feature-image-content {
  width: 277px;
  height: 493px;
  background: url("../img/iphone-features.png") no-repeat center top;
}

.segment .segment-content.segment-content-feature .feature-image .feature-image-content .feature-image-content-item {
  max-width: 100%;
  margin-top: 67px;
}

.segment .segment-content.segment-content-feature .feature-icon-lists {
  border-bottom: none;
}

.segment .segment-content.segment-content-feature .feature-icon-lists-item {
  float: none;
  margin-bottom: 20px;
}

.segment .segment-content.segment-content-feature .feature-icon-lists-item:hover .feature-icon-button {
  background-color: transparent;
}

.segment .segment-content.segment-content-feature .feature-icon-lists-item.active .feature-icon-button {
  background-color: transparent;
  cursor: pointer;
}

.segment .segment-content.segment-content-feature .feature-icon-lists-item.active .feature-icon-button .icon-control .icon.icon-default {
  opacity: 0;
}

.segment .segment-content.segment-content-feature .feature-icon-lists-item.active .feature-icon-button .icon-control .icon.icon-active {
  opacity: 1;
}

.segment .segment-content.segment-content-feature .feature-icon-button {
  position: relative;
  min-height: 105px;
  padding: 0;
  margin-right: 0;
  line-height: 1.6;
  border-width: 0;
  border-radius: 0;
  cursor: pointer;
}

.segment .segment-content.segment-content-feature .feature-icon-button.feature-icon-button-left {
  padding-right: 105px;
  text-align: right;
}

.segment .segment-content.segment-content-feature .feature-icon-button.feature-icon-button-left .icon-control {
  right: 0;
}

.segment .segment-content.segment-content-feature .feature-icon-button.feature-icon-button-right {
  padding-left: 105px;
}

.segment .segment-content.segment-content-feature .feature-icon-button.feature-icon-button-right .icon-control {
  left: 0;
}

.segment .segment-content.segment-content-feature .feature-icon-button .title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.6;
  text-transform: none;
}

.segment .segment-content.segment-content-feature .feature-icon-button .description {
  display: inline-block;
  max-width: 305px;
  margin-bottom: 0;
  font-family: "Arial";
  font-size: 15px;
  line-height: 1.6;
  color: #8e8e8e;
}

.segment .segment-content.segment-content-feature .feature-icon-button .icon-control {
  position: absolute;
  z-index: 1;
  top: -20px;
}

.segment .segment-content.segment-content-feature .feature-icon-button .icon-control .icon {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.segment .segment-content.segment-content-feature .feature-icon-button .icon-control .icon.icon-active {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.segment .segment-content.segment-content-video {
  display: inline-block;
  width: calc(100% - 60px);
  max-width: 970px;
  height: 365px;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
  .segment .segment-content.segment-content-video {
    height: 250px;
  }
}

.segment .segment-content.segment-content-video .button-icon {
  display: inline-block;
  margin-bottom: 45px;
}

.segment .segment-content.segment-content-video .description {
  font-size: 20px;
  color: #ffffff;
}

.segment .segment-content.segment-content-partners .filter-control ul li a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-width: 90px;
  padding: 7px 0 8px 0;
  font-family: "Arial";
  font-size: 15px;
  color: #131316;
}

.segment .segment-content.segment-content-partners .filter-control ul li a:hover,
.segment .segment-content.segment-content-partners .filter-control ul li a.active {
  background-color: #0aaccc;
  border-color: #0aaccc;
  color: #ffffff;
}

.segment .segment-content.segment-content-partners .projects {
  margin-bottom: 0;
}

.segment .segment-content.segment-content-partners .projects figure {
  margin-top: -1px;
  border: solid 1px #f3f3f3;
  border-left-width: 0;
}

.segment .segment-content.segment-content-partners .projects figcaption h3 {
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.segment .segment-content.segment-content-partners .projects figcaption span {
  font-family: "Arial";
  font-size: 15px;
  color: #0aaccc;
}

.segment .segment-content.segment-content-benefits {
  height: 600px;
}

.segment .segment-content.segment-content-benefits.segment-content-benefits-1 {
  background: url("../img/benefits/benefit-1.jpg") no-repeat center center;
  background-size: cover;
}

.segment .segment-content.segment-content-benefits.segment-content-benefits-2 {
  background: url("../img/benefits/benefit-2.jpg") no-repeat center center;
  background-size: cover;
}

.segment .segment-content.segment-content-benefits .benefit-detail {
  max-width: 370px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

.segment .segment-content.segment-content-benefits .title {
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
}

.segment .segment-content.segment-content-benefits .title span {
  display: block;
}

.segment .segment-content.segment-content-benefits .partition-line {
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #0aaccc;
  margin-bottom: 30px;
}

.segment .segment-content.segment-content-benefits .lists {
  padding-left: 15px;
  margin-bottom: 0;
}

.segment .segment-content.segment-content-benefits .lists-item {
  margin-bottom: 20px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
}

.segment .segment-content.segment-content-ourteam {
  text-align: center;
}

.segment .segment-content.segment-content-ourteam .avatar {
  display: inline-block;
  width: 100%;
  height: auto;
}

.segment .segment-content.segment-content-ourteam .name {
  font-size: 20px;
  line-height: 1.6;
  color: #131316;
  margin-top: 25px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.segment .segment-content.segment-content-ourteam .position {
  margin-bottom: 0;
  font-family: "Arial";
  font-size: 15px;
  line-height: 1.6;
  color: #707070;
  text-transform: uppercase;
}

.segment .segment-content.segment-content-ourteam .lists {
  padding-left: 15px;
  padding-right: 15px;
}

.segment .segment-content.segment-content-ourteam .lists-item {
  padding-left: 7px;
  padding-right: 7px;
}

.segment .segment-content.segment-content-career {
  padding-bottom: 75px;
  background-color: #121215;
}

.segment .segment-content.segment-content-career::before, .segment .segment-content.segment-content-career::after {
  content: ' ';
  display: table;
}

.segment .segment-content.segment-content-career::after {
  clear: both;
}

.segment .segment-content.segment-content-career .career-position {
  float: left;
  width: 25%;
}

.segment .segment-content.segment-content-career .meta-data h3 {
  min-height: 64px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.6;
  color: #0aaccc;
  text-transform: none;
}

.segment .segment-content.segment-content-career .meta-data h3 span {
  display: block;
}

.segment .segment-content.segment-content-career .meta-data p {
  margin-bottom: 0;
  font-family: "Arial";
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
}

.segment .segment-content.segment-content-contact .form-control {
  padding: 14px 25px;
  font-family: "Arial";
  font-size: 15px;
  color: #8e8e8e;
}

.segment .segment-content.segment-content-contact .btn-primary {
  padding: 11px 85px;
  background-color: #0aaccc;
  border-color: #0aaccc;
  font-size: 20px;
  text-transform: uppercase;
}

.segment .segment-content.segment-content-contact .btn-primary:hover {
  background-color: #ffffff;
  color: #0aaccc;
}

.segment .segment-content.segment-content-contact .address .icon-contact {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 25px;
  background-color: #0aaccc;
  border-radius: 100%;
  line-height: 75px;
}

.segment .segment-content.segment-content-contact .address a,
.segment .segment-content.segment-content-contact .address p,
.segment .segment-content.segment-content-contact .address span {
  display: block;
  font-size: 18px;
  color: #131316;
}

.segment .segment-content.segment-content-contact .address p {
  margin-bottom: 0;
}

.segment .segment-content.segment-content-contact .address p span {
  display: block;
}

.segment .segment-content.segment-content-footer .copyright {
  font-size: 13px;
}

.segment .segment-content.segment-content-footer .social li {
  margin-left: 10px;
  margin-right: 10px;
}

.segment .segment-content.segment-content-footer .social a i {
  font-size: 18px;
}

.segment .segment-content.segment-content-footer .social a:hover i {
  background-color: #0aaccc;
}

.segment .segment-content.segment-content-footer .back-to-top {
  margin-top: 85px;
  font-size: 26px;
}

.carousel.carousel-benefits {
  margin-bottom: 0;
}

.carousel.carousel-benefits .slick-next {
  right: 0;
}

.carousel.carousel-benefits .slick-prev {
  left: 0;
}

.carousel.carousel-benefits .slick-dots {
  bottom: 20px;
}

.carousel.carousel-benefits .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 7px;
}

.carousel.carousel-benefits .slick-dots li button {
  width: auto;
  height: auto;
  padding: 0;
}

.carousel.carousel-benefits .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #0aaccc;
}

.carousel.carousel-benefits .slick-dots li button:before {
  content: ' ';
  opacity: 1;
  display: inline-block;
  position: static;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 100%;
  line-height: 1;
}
