// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Custom style
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

@import 'mq.scss';

// Variables
// ==================================================================================================
$font-family-primary: 'gotham-rounded-bold';
$font-family-secondary: 'Arial';

$font-size-1: 14px;
$font-size-2: 72px;
$font-size-3: 48px;
$font-size-4: 20px;
$font-size-5: 15px;
$font-size-6: 18px;
$font-size-7: 13px;

$line-height-1: 1.6;

$color-white: #ffffff;
$color-1: #131316;
$color-2: #0aaccc;
$color-3: #8e8e8e;
$color-4: #f3f3f3;
$color-5: #707070;
$color-6: #3f3f41;
$color-7: #121215;

// Mobile (mob)
$screen-mobile-xs: 320px;
$screen-mobile-sm: 360px;
$screen-mobile-md: 375px;
$screen-mobile-lg: 411px;

// Phablet (pha)
$screen-phablet-xs: 480px;
$screen-phablet-sm: 540px;
$screen-phablet-md: 640px;
$screen-phablet-lg: 731px;

// Tablet (tab)
$screen-tablet-sm: 768px;
$screen-tablet-md: 960px;
$screen-tablet-lg: 1024px;

// Laptop (lab)
$screen-labtop-sm: 1280px;
$screen-labtop-md: 1366px;
$screen-labtop-lg: 1440px;

// Desktop (des)
$screen-desktop-sm: 1600px;
$screen-desktop-md: 1920px;
$screen-desktop-lg: 2560px;

// Screen max
$screen-mobile-xs-max: ($screen-mobile-sm - 1);
$screen-mobile-sm-max: ($screen-mobile-md - 1);
$screen-mobile-md-max: ($screen-mobile-lg - 1);
$screen-mobile-lg-max: ($screen-phablet-xs - 1);

$screen-phablet-xs-max: ($screen-phablet-sm - 1);
$screen-phablet-sm-max: ($screen-phablet-md - 1);
$screen-phablet-md-max: ($screen-phablet-lg - 1);
$screen-phablet-lg-max: ($screen-tablet-sm - 1);

$screen-tablet-sm-max: ($screen-tablet-md - 1);
$screen-tablet-md-max: ($screen-tablet-lg - 1);
$screen-tablet-lg-max: ($screen-labtop-sm - 1);

$screen-labtop-sm-max: ($screen-labtop-md - 1);
$screen-labtop-md-max: ($screen-labtop-lg - 1);
$screen-labtop-lg-max: ($screen-desktop-sm - 1);

$screen-desktop-sm-max: ($screen-desktop-md - 1);
$screen-desktop-md-max: ($screen-desktop-lg - 1);

// Mixins
// ==================================================================================================
@mixin clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Utility classes
// ==================================================================================================
.container-align-vertical {
  display: table;
  width: 100%;
  height: 100%;

  .container-align-vertical-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

// Typography
// ==================================================================================================

// gotham-rounded-bold
// ------------------------------------------------
@font-face {
  font-family: 'gotham-rounded-bold';
  src: url('/fonts/gotham-rounded-bold.eot?v=4.3.0');
  src: url('/fonts/gotham-rounded-bold.eot?#iefix&v=4.3.0') format('embedded-opentype'),
       url('/fonts/gotham-rounded-bold.woff2?v=4.3.0') format('woff2'),
       url('/fonts/gotham-rounded-bold.woff?v=4.3.0') format('woff'),
       url('/fonts/gotham-rounded-bold.ttf?v=4.3.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Scaffolding
// ==================================================================================================
body {
  font-family: $font-family-primary;
  font-size: $font-size-1;
  line-height: 1;
  color: $color-1;
}

a {
  color: $color-2;

  &:hover,
  &:active,
  &:visited {
    color: $color-2;
    text-decoration: none;
  }
}

// Header
// ==================================================================================================
.header {

  // Main
  // ------------------------------------------------
  &.header-main {
    @include clearfix();

    // Child element
    .header-content {
      @include mq($until: $screen-labtop-sm) {
        width: auto;
      }
    }

    .navbar-default {
      height: 100px;
      border-bottom: none;

      @include mq($until: $screen-phablet-xs) {
        height: 75px;
      }

      // State class
      &.navbar-small {
        .navbar-brand {
          padding: 20px 15px 21px 15px;

          @include mq($until: $screen-phablet-xs) {
            padding: 15px 15px 16px 15px;
          }
        }

        .nav {
          margin-top: 23px;
        }
      }

      // Child element
      .navbar-brand {
        height: auto;
        padding: 20px 15px 21px 15px;

        @include mq($until: $screen-phablet-xs) {
          padding: 15px 15px 16px 15px;
        }
      }

      .navbar-brand img {
        @include mq($until: $screen-phablet-xs) {
          width: 75%;
        }
      }

      .navbar-header {
        min-height: 100px;

        @include mq($until: $screen-phablet-xs) {
          min-height: 75px;
        }
      }

      // Button mobile navigation
      .navbar-toggle:hover,
      .navbar-toggle:focus {
        background-color: transparent;
      }

      .navbar-toggle .icon-bar {
        background-color: $color-1;
      }

      // Mobile navigation
      .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        background-color: $color-white;
        border-top: 0;

        @include mq($until: $screen-tablet-lg-max) {
          position: absolute;
          z-index: 1;
          top: 100px;
          left: 0;
          right: 0;
          float: none !important;

          @include mq($until: $screen-phablet-xs) {
            top: 75px;
          }
        }
      }

      .navbar-collapse.collapse {
        @include mq($until: $screen-tablet-lg-max) {
          overflow: hidden !important;
          height: 0 !important;
        }
      }

      .navbar-collapse.collapse.in {
        @include mq($until: $screen-tablet-lg-max) {
          height: auto !important;
        }
      }

      .navbar-collapse .navbar-nav {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 0;
        @include mq($until: $screen-tablet-lg-max) {
          float: none;
          padding-left: 15px;
          padding-right: 15px;
          border-top: 1px solid $color-2;
        }
      }

      .nav {
        margin-top: 23px;
      }

      .nav li {
        @include mq($until: $screen-tablet-lg-max) {
          float: none;
        }
      }

      .nav li a {
        padding: 9px 20px;
        border: solid 1px transparent;
        font-size: $font-size-1;
        color: $color-3;

        @include mq($until: $screen-tablet-lg-max) {
          padding: 9px 0;
        }
      }

      .nav li a:hover {
        border-color: $color-2;
        color: $color-1;

        @include mq($until: $screen-tablet-lg-max) {
          border-color: transparent;
        }
      }

      .navbar-toggle {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 15px;
        float: none;
        padding: 9px 0;
        margin-top: -15px;
        margin-right: 0;
        margin-bottom: 0;
        border-width: 0;

        @include mq($from: $screen-tablet-sm) {
          display: block;
        }

        @include mq($from: $screen-labtop-sm) {
          display: none;
        }
      }
    }
  }
}

// Hero banner
// ==================================================================================================
.hero-banner {
  padding-bottom: 0;
  background-image: url('../img/banner-hero.jpg');

  @include mq($until: $screen-tablet-md-max) {
    height: auto !important;
  }

  // Child element
  .hero-banner-inner {
    position: relative;
    height: 100%;
    margin-top: 0;
  }

  .hero-banner-description {
    position: absolute;
    z-index: 1;
    bottom: 150px;
    left: 0;
    right: 45%;

    @include mq($until: $screen-tablet-md-max) {
      position: static;
      padding-top: 75px;
      padding-bottom: 50px;
    }

    @include mq($from: $screen-phablet-lg-max, $until: $screen-tablet-lg) {
      bottom: 75px;
      right: 40%;
    }

    .title {
      font-size: $font-size-2;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      text-transform: none;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);

      @include mq($until: $screen-mobile-lg-max) {
        font-size: $font-size-3;
      }

      @include mq($until: $screen-tablet-md-max) {
        text-align: center;
      }
    }

    .sub-title {
      font-size: $font-size-3;
      margin-bottom: 30px;
      text-align: left;
      text-transform: none;

      @include mq($until: $screen-mobile-lg-max) {
        font-size: $font-size-4;
      }

      @include mq($until: $screen-tablet-md-max) {
        text-align: center;
      }
    }

    .description {
      margin-bottom: 45px;
      font-family: $font-family-secondary;
      font-size: $font-size-4;
      line-height: $line-height-1;
      text-align: left;
      text-transform: none;

      @include mq($until: $screen-mobile-lg-max) {
        font-size: $font-size-1;
      }

      @include mq($until: $screen-tablet-md-max) {
        text-align: center;
      }
    }

    .button-control ul {
      @include clearfix();

      padding-left: 0;
      margin-bottom: 0;

      @include mq($until: $screen-tablet-md-max) {
        text-align: center;
      }
    }

    .button-control ul li {
      display: block;
      float: left;
      margin-right: 15px;

      @include mq($until: $screen-tablet-md-max) {
        display: inline-block;
        float: none;
      }
    }

    .button-control ul li:last-child {
      margin-right: 0;
    }

    .link-image {
      display: block;
    }

    .link-image img {
      @include mq($until: $screen-mobile-lg-max) {
        width: auto;
        height: 30px;
      }

      @include mq($from: $screen-mobile-lg-max, $until: $screen-phablet-lg-max) {
        width: auto;
        height: 55px;
      }
    }
  }

  .hero-banner-iphone {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;

    @include mq($until: $screen-tablet-md-max) {
      position: relative;
    }

    .iphone {
      height: calc(100vh - 250px);

      @include mq($until: $screen-phablet-lg-max) {
        max-width: 100%;
        height: auto;
      }

      @include mq($from: $screen-tablet-lg, $until: $screen-labtop-sm) {
        height: calc(100vh - 150px);
      }
    }
  }
}

// Segment
// ==================================================================================================
.segment {

  // Features
  // ------------------------------------------------
  &.segment-features  {
    display: none;

    width: 1400px;
    background-color: $color-white;
  }

  // Video
  // ------------------------------------------------
  &.segment-video {
    height: 700px;
    background-image: url('../img/banner-video.jpg');
    text-align: center;

    @include mq($until: $screen-phablet-lg-max) {
      height: 450px;
    }
  }

  // Partners
  // ------------------------------------------------
  &.segment-partners {
    // display: none;

    // style
  }

  // Benefits
  // ------------------------------------------------
  &.segment-benefits {
    // display: none;

    // style
  }

  // Our team
  // ------------------------------------------------
  &.segment-ourteam {
    // display: none;

    padding-bottom: 75px;
  }

  // Career
  // ------------------------------------------------
  &.segment-career {
    // display: none;

    background-color: $color-6;
    padding-bottom: 165px;
  }

  // Contact
  // ------------------------------------------------
  &.segment-contact {
    // display: none;

    // style
  }

  // Footer
  // ------------------------------------------------
  &.segment-footer {
    // display: none;

    padding-top: 90px;
    padding-bottom: 55px;
  }

  // Child element
  .segment-header {
    padding-top: 95px;

    // Child element
    .title {
      margin-top: 0;
      margin-bottom: 35px;
      font-size: $font-size-4;
      color: $color-1;
      text-align: center;
      text-transform: none;

      &.title-uppercase {
        text-transform: uppercase;
      }
    }

    .description {
      margin-bottom: 95px;
      font-family: $font-family-secondary;
      font-size: $font-size-5;
      line-height: $line-height-1;
      color: $color-3;
      text-align: center;

      span {
        display: block;
      }
    }

    // Partners
    // ------------------------------------------------
    &.segment-header-partners {
      .title {
        margin-bottom: 55px;
        text-transform: uppercase;
      }
    }

    // Our team
    // ------------------------------------------------
    &.segment-header-ourteam {
      .title {
        margin-bottom: 75px;
      }
    }

    // Our team
    // ------------------------------------------------
    &.segment-header-career {
      .title,
      .description {
        color: $color-white;
      }
    }

    // Contact
    // ------------------------------------------------
    &.segment-header-contact {
      .title {
        margin-bottom: 75px;
        text-transform: uppercase;
      }
    }
  }

  .segment-content {

    // Features
    // ------------------------------------------------
    &.segment-content-feature {
      position: relative;

      // Child element
      .feature-icon {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: calc(50% - 215px);
        // background-color: #ccc;
      }

      .feature-icon.feature-icon-left {
        left: 0;
      }

      .feature-icon.feature-icon-right {
        right: 0;
      }

      .feature-image {
        text-align: center;
      }

      .feature-image .feature-image-inner {
        display: inline-block;
        position: relative;
      }

      .feature-image .feature-image-content {
        width: 277px;
        height: 493px;
        background: url('../img/iphone-features.png') no-repeat center top;
      }

      .feature-image .feature-image-content .feature-image-content-item {
        max-width: 100%;
        margin-top: 67px;
      }

      .feature-icon-lists {
        border-bottom: none;
      }

      .feature-icon-lists-item {
        float: none;
        margin-bottom: 20px;
      }

      .feature-icon-lists-item:hover .feature-icon-button {
        background-color: transparent;
      }

      .feature-icon-lists-item.active .feature-icon-button {
        background-color: transparent;
        cursor: pointer;
      }

      .feature-icon-lists-item.active .feature-icon-button .icon-control .icon.icon-default {
        opacity: 0;
      }

      .feature-icon-lists-item.active .feature-icon-button .icon-control .icon.icon-active {
        opacity: 1;
      }

      .feature-icon-button {
        position: relative;
        min-height: 105px;
        padding: 0;
        margin-right: 0;
        line-height: $line-height-1;
        border-width: 0;
        border-radius: 0;
        cursor: pointer;
      }

      .feature-icon-button.feature-icon-button-left {
        padding-right: 105px;
        text-align: right;
      }

      .feature-icon-button.feature-icon-button-left .icon-control {
        right: 0;
      }

      .feature-icon-button.feature-icon-button-right {
        padding-left: 105px;
      }

      .feature-icon-button.feature-icon-button-right .icon-control {
        left: 0;
      }

      .feature-icon-button .title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: $font-size-4;
        line-height: $line-height-1;
        text-transform: none;
      }

      .feature-icon-button .description {
        display: inline-block;
        max-width: 305px;
        margin-bottom: 0;
        font-family: $font-family-secondary;
        font-size: $font-size-5;
        line-height: $line-height-1;
        color: $color-3;
      }

      .feature-icon-button .icon-control {
        position: absolute;
        z-index: 1;
        top: -20px;
      }

      .feature-icon-button .icon-control .icon {
        @include transition(all 0.3s ease);
      }

      .feature-icon-button .icon-control .icon.icon-default {

      }

      .feature-icon-button .icon-control .icon.icon-active {
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }

    // Video
    // ------------------------------------------------
    &.segment-content-video {
      display: inline-block;
      width: calc(100% - 60px);
      max-width: 970px;
      height: 365px;
      background-color: rgba(0, 0, 0, 0.8);

      @include mq($until: $screen-phablet-lg-max) {
        height: 250px;
      }

      // Child element
      .button-icon {
        display: inline-block;
        margin-bottom: 45px;
      }

      .description {
        font-size: $font-size-4;
        color: $color-white;
      }
    }

    // Partners
    // ------------------------------------------------
    &.segment-content-partners {
      .filter-control {

      }

      .filter-control ul {

      }

      .filter-control ul li {

      }

      .filter-control ul li a {
        @include transition(all 0.5s ease);

        min-width: 90px;
        padding: 7px 0 8px 0;
        font-family: $font-family-secondary;
        font-size: $font-size-5;
        color: $color-1;
      }

      .filter-control ul li a:hover,
      .filter-control ul li a.active {
        background-color: $color-2;
        border-color: $color-2;
        color: $color-white;
      }

      .projects {
        margin-bottom: 0;

        figure {
          margin-top: -1px;
          border: solid 1px $color-4;
          border-left-width: 0;
          // border-bottom-width: 0;
        }

        figcaption {

        }

        figcaption h3 {
          font-size: $font-size-5;
          margin-bottom: 5px;
          text-transform: uppercase;
        }

        figcaption span {
          font-family: $font-family-secondary;
          font-size: $font-size-5;
          color: $color-2;
        }
      }
    }

    // Benefits
    // ------------------------------------------------
    &.segment-content-benefits {
      height: 600px;

      // State class
      &.segment-content-benefits-1 {
        background: url('../img/benefits/benefit-1.jpg') no-repeat center center;
        background-size: cover;
      }

      &.segment-content-benefits-2 {
        background: url('../img/benefits/benefit-2.jpg') no-repeat center center;
        background-size: cover;
      }

      // Child element
      .benefit-detail {
        max-width: 370px;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.8);
      }

      .title {
        font-size: $font-size-4;
        line-height: $line-height-1;
        color: $color-white;
        margin-top: 0;
        margin-bottom: 30px;
      }

      .title span {
        display: block;
      }

      .partition-line {
        display: inline-block;
        width: 60px;
        height: 2px;
        background-color: $color-2;
        margin-bottom: 30px;
      }

      .lists {
        padding-left: 15px;
        margin-bottom: 0;
      }

      .lists-item {
        margin-bottom: 20px;
        font-family: $font-family-secondary;
        font-size: $font-size-5;
        line-height: $line-height-1;
        color: $color-white;
      }
    }

    // Our team
    // ------------------------------------------------
    &.segment-content-ourteam {
      text-align: center;

      .avatar {
        display: inline-block;
        width: 100%;
        height: auto;
      }

      .name {
        font-size: $font-size-4;
        line-height: $line-height-1;
        color: $color-1;
        margin-top: 25px;
        margin-bottom: 5px;
        white-space: nowrap;
      }

      .position {
        margin-bottom: 0;
        font-family: $font-family-secondary;
        font-size: $font-size-5;
        line-height: $line-height-1;
        color: $color-5;
        text-transform: uppercase;
      }

      .lists {
        padding-left: 15px;
        padding-right: 15px;
      }

      .lists-item {
        padding-left: 7px;
        padding-right: 7px;
      }
    }

    // Career
    // ------------------------------------------------
    &.segment-content-career {
      @include clearfix();
      padding-bottom: 75px;
      background-color: $color-7;

      .career-position {
        float: left;
        width: 25%;
      }

      .meta-data {
        h3 {
          min-height: 64px;
          margin-top: 0;
          margin-bottom: 30px;
          font-size: $font-size-4;
          line-height: $line-height-1;
          color: $color-2;
          text-transform: none;
        }

        h3 span {
          display: block;
        }

        p {
          margin-bottom: 0;
          font-family: $font-family-secondary;
          font-size: $font-size-5;
          line-height: $line-height-1;
          color: $color-white;
        }
      }
    }

    // Contact
    // ------------------------------------------------
    &.segment-content-contact {
      .form-control {
        padding: 14px 25px;
        font-family: $font-family-secondary;
        font-size: $font-size-5;
        color: $color-3;
      }

      .btn-primary {
        padding: 11px 85px;
        background-color: $color-2;
        border-color: $color-2;
        font-size: $font-size-4;
        text-transform: uppercase;

        &:hover {
          background-color: $color-white;
          color: $color-2;
        }
      }

      .address {
        .icon-contact {
          display: inline-block;
          width: 75px;
          height: 75px;
          margin-bottom: 25px;
          background-color: $color-2;
          border-radius: 100%;
          line-height: 75px;
        }

        a,
        p,
        span {
          display: block;
          font-size: $font-size-6;
          color: $color-1;
        }

        p {
          margin-bottom: 0;
        }

        p span {
          display: block;
        }
      }
    }

    // Footer
    // ------------------------------------------------
    &.segment-content-footer {
      .copyright {
        font-size: $font-size-7;
      }

      .social {
        li {
          margin-left: 10px;
          margin-right: 10px;
        }

        a {

        }

        a i {
          font-size: 18px;
        }

        a:hover i {
          background-color: $color-2;
        }
      }

      .back-to-top {
        margin-top: 85px;
        font-size: 26px;
      }
    }
  }
}

// Carousel
// ==================================================================================================
.carousel {

  // Benefits
  // ------------------------------------------------
  &.carousel-benefits {
    margin-bottom: 0;

    // Child element
    .carousel-item {
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }

    .slick-dots {
      bottom: 20px;

      li {
        width: auto;
        height: auto;
        margin: 0 7px;
      }

      li button {
        width: auto;
        height: auto;
        padding: 0;
      }

      li.slick-active button:before {
        opacity: 1;
        background-color: $color-2;
      }

      li button:before {
        content: ' ';
        opacity: 1;
        display: inline-block;
        position: static;
        width: 12px;
        height: 12px;
        background-color: $color-white;
        border-radius: 100%;
        line-height: 1;
      }
    }
  }
}
